@import './reset.css';

html, body {height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --material-primary: #673ab7;
  --light-grey: #f5f5f5;
}

form {
  display: flex;
  flex-direction: column;
}

.hint-warn {
  color: #f44336;
}

.pad-8px {
  padding: 8px;
}

.toast-success {
  background-color: #00C851;
  color: white;
}

.toast-error {
  background-color: #f44336;
  color: white;
}

.toast-info {
  background-color: #ffbb33;
  color: white;
}

.dialogButton {
  width: 125px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

h1 {
  font-weight: bold;
  font-size: revert;
  padding: 8px;
}

.card-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button {
  border-radius: 50%;
  font-size: 50px;
  cursor: pointer;
}

.back-button:hover {
  color: var(--material-primary)
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cards-container {
  display: grid;
  column-gap: 8px;
  row-gap: 8px;
  grid-template-rows: repeat(3, auto);
}

@media (min-width: 1000px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80vh;
  }

  .card {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
}

.card {
  padding: 16px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

.card-content {
  flex-grow: 1;
  flex-basis: 0;
}

.main {
  width: 100%;
  height: 100%;
}

@media (min-width: 1000px) {
  .main-content {
    padding: 2em 4em 2em 4em;
  }
}

.main-content {
  padding: 1em 2em 1em 2em;
}

