.main {
  width: 100%;
  height: 100%;
}

.side-menu {
  width: 200px;
  max-width: 50vw;
}

#menu-button {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
}

#close-button {
  height: 50px;
}

@media (min-width: 1000px) {
  .main-content {
    padding: 2em 4em 2em 4em;
  }
}

.main-content {
  padding: 1em 2em 1em 2em;
}

