<arg-top-bar [displayMenu]="false" [displayUserInfo]="false"></arg-top-bar>
<div class="center">
  <div class="form">
    <mat-tab-group [(selectedIndex)]="selectedTab">
      <mat-tab label="Login">
        <h1>Log in</h1>
        <form (ngSubmit)="onLoginSubmit()" id="login-form" #loginForm="ngForm">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input id="username" name="username" [(ngModel)]="loginRequest.username" #username="ngModel" matInput required>
            <mat-hint class="hint-warn" *ngIf="username.touched && username.invalid">Username is required.</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input name="password" id="password" [(ngModel)]="loginRequest.password" #password="ngModel" matInput [type]="hideLoginPassword ? 'password' : 'text'" required>
            <button id="password-toggle" type="button" mat-icon-button matSuffix (click)="hideLoginPassword = !hideLoginPassword"
              [attr.aria-label]="'hideLoginPassword password'" [attr.aria-pressed]="hideLoginPassword">
              <mat-icon>{{hideLoginPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint class="hint-warn" *ngIf="password.touched && password.invalid">Password is required.</mat-hint>
          </mat-form-field>
          <button id="login-submit" type="submit" mat-raised-button color="primary">Log in</button>
        </form>
      </mat-tab>
      <mat-tab label="Register">
        <h1>Create account</h1>
        <form (ngSubmit)="onRegisterSubmit()" id="register-form" #registerForm="ngForm">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input id="username-register" name="username-register" [(ngModel)]="registerRequest.username" #usernameRegister="ngModel" matInput required>
            <mat-hint class="hint-warn" *ngIf="usernameRegister.touched && usernameRegister.invalid">Username is required.</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input id="email" type="email" name="email" [(ngModel)]="registerRequest.email" #email="ngModel" matInput required>
            <mat-hint class="hint-warn">
              <div *ngIf="email.touched && email.invalid">Email is required.</div>
              <div *ngIf="email.touched && !email.invalid && !validEmail()">Invalid email format.</div>
            </mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>First name</mat-label>
            <input id="first-name" name="firstName" [(ngModel)]="registerRequest.employee.firstName" #firstName="ngModel" matInput required>
            <mat-hint class="hint-warn" *ngIf="firstName.touched && firstName.invalid">First name is required.</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Last name</mat-label>
            <input id="last-name" name="lastName" [(ngModel)]="registerRequest.employee.lastName" #lastName="ngModel" matInput required>
            <mat-hint class="hint-warn" *ngIf="lastName.touched && lastName.invalid">Last name is required.</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput id="password-register" name="password-register" [(ngModel)]="registerRequest.password" #passwordRegister="ngModel" [type]="hideRegisterPassword ? 'password' : 'text'" required>
            <button type="button" mat-icon-button matSuffix (click)="hideRegisterPassword = !hideRegisterPassword"
              [attr.aria-label]="'hideRegisterPassword password'" [attr.aria-pressed]="hideRegisterPassword">
              <mat-icon>{{hideRegisterPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint class="hint-warn">
              <div *ngIf="passwordRegister.touched && passwordRegister.invalid">Password is required.</div>
              <div *ngIf="passwordRegister.touched && !passwordRegister.invalid && !validPasswordStrenght()">Password should be at least 8 characters long and contain at least one digit.</div>
            </mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input id="password-confirm" name="passwordCfirm" [(ngModel)]="passwordConfirm" #passwordCfirm="ngModel" matInput type="password" required>
            <mat-hint class="hint-warn" *ngIf="passwordRegister.touched && passwordCfirm.touched && !validPasswordsMatch()">Passwords do not match.</mat-hint>
          </mat-form-field>
          <button id="register-submit" mat-raised-button type="submit" color="primary">Create account</button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
