<div id="manage-organization">
  <div id="organization-info">
    <div class="label">Organization name</div>
    <div class="ellipsis">{{organizationInfo?.name}}</div>
    <button class="organization-button" mat-raised-button color="primary" (click)="editOrganization()">Edit organization</button>
    <button class="organization-button" mat-raised-button color="warn" (click)="deleteOrganization()">Delete organization</button>
  </div>
  <div class="card-title" style="margin-bottom: 0px;">List of employees</div>
  <arg-employee-table
    id="employee-table"
    mode="JOINED"
    [employees]="employees"
    (onEmployeeEdit)="editEmployee($event)"
    (onEmployeeDelete)="deleteEmployee($event)"
  ></arg-employee-table>
  <button mat-raised-button color="primary" (click)="addEmployee()">Add employee</button>
</div>
