<h1 mat-dialog-title>{{ data.header }}</h1>
<div id="dialog-content" mat-dialog-content>
  <p>
    {{ data.content }}
  </p>
</div>
<div id="dialog-buttons" mat-dialog-actions>
  <button id="cancel-button" class="dialogButton" mat-raised-button (click)="onClose(false)">
    {{ data.cancelButton ? data.cancelButton : 'Cancel' }}
  </button>
  <button id="confirm-button" class="dialogButton" mat-raised-button color="primary" cdkFocusInitial (click)="onClose(true)">
    {{ data.confirmButton ? data.confirmButton : 'Confirm' }}
  </button>
</div>

