<form id="organization-form" #organizationForm="ngForm">
<h1 mat-dialog-title>Add organization</h1>
<div mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input id="name" [(ngModel)]="organization.name" name="name" matInput type="text" required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button class="dialogButton" mat-raised-button (click)="onClose(false)">Cancel</button>
    <button class="dialogButton" mat-raised-button color="primary" cdkFocusInitial (click)="onClose(true)">Save</button>
  </div>
</form>
