.main {
  min-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

#employee-table {
  flex-grow: 1;
  overflow-y: auto;
}

.dialog-buttons {
  justify-content: center;
}
