.worktime-list {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.worktime-card {
  display: flex;
  background-color: var(--light-grey);
}

@media(min-width: 490px) {
  .worktime-info {
    grid-template-columns: 1fr 3fr !important;
  }
}

.worktime-info {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.worktime-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.label {
  font-weight: bold;
}

#no-data-container {
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#no-data-icon {
  font-size: 30px;
}

.badge-holder {
  grid-column: 1 / 3;
  display: flex;
  column-gap: 0.5rem;
}

.center {
  align-items: center;
  justify-content: center;
}

.badge {
  border-radius: 0.3rem;
  padding-left: 0.3rem; padding-right: 0.3rem;
  display: flex;
}

.owner {
  background-color: var(--material-primary);
  color: white;
}

.you {
  background-color: darkgrey;
}

